<aside class="drawer dark">
  <header>
    <div class="content compact">
      <a href="https://developers.braintreepayments.com" class="braintree" target="_blank">Braintree</a>
      <h3>Get a Breakdown</h3>
    </div>
  </header>
  <a class="button secondary full" href="/admin">
    <span>Index</span>
  </a>
  <a class="button secondary full" href="/admin?status=gateway_rejected">
    <span>Gateway Rejections</span>
  </a>
  <a class="button secondary full" href="/admin?status=processor_declined">
    <span>Processor Declines</span>
  </a>
  <a class="button secondary full" href="/admin?currency">
    <span>By Currency</span>
  </a>
</aside>
